@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:wght@200;300;400;500;600&family=Teko:wght@300&display=swap');
%flex{
    display:flex;
    align-items: center;
    justify-content: center;
}
%background{
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: top;
    min-height: 100vh;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
    height: 100vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
     }
     overflow-x: hidden;
    // box-shadow: inset 0 0 0 1000px rgba(92, 85, 85, 0.7);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.7s;
   
}

.App{
    background-image: url('.././images/dou-sha-WfCmNom4M4Q-unsplash.jpg');
    // background-image: url('.././images/clowdy.jpg');
   
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0,1);
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.384);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    color: rgb(255, 255, 255);
    height: 100vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
     }
     .Clear{
        @extend %background;
        // background-image: url('https://im2.ezgif.com/tmp/ezgif-2-46d40143c207.gif');
        background-image: url('https://images.pexels.com/photos/754419/pexels-photo-754419.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
     }
     .Mist{
        @extend %background;
        //  background-image: url('https://im4.ezgif.com/tmp/ezgif-4-d143cc7ce417.gif')
        background-image: url('https://images.pexels.com/photos/2966315/pexels-photo-2966315.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')
     }
     .Clouds{
        @extend %background;
        //  background-image: url('https://im2.ezgif.com/tmp/ezgif-2-e4b28fb7f33e.gif');
        background-image: url('https://images.pexels.com/photos/3560044/pexels-photo-3560044.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
        //  background-image: url('https://media.istockphoto.com/photos/view-of-a-clowdy-sky-with-dark-blue-clouds-before-the-rain-picture-id1180934764?k=6&m=1180934764&s=612x612&w=0&h=fi3yUzoBRUTzI7fNesM3y5hbkKYvLSM8UQkTcljxCAk=');
     }
     .Haze{
        @extend %background;
        // background-image: url('https://thumbs.gfycat.com/BrilliantEmotionalBagworm.webp');
        background-image: url('https://images.pexels.com/photos/1809644/pexels-photo-1809644.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260')
     }
     .Thunderstorm{
        @extend %background;
        // background-image: url('https://im4.ezgif.com/tmp/ezgif-4-6e27f3bdb57d.gif');
        background-image: url('https://images.pexels.com/photos/1162251/pexels-photo-1162251.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
     }
     .Rain{
        @extend %background;
        //  background-image: url('https://media.tenor.com/images/b3ba46ee344185a797bd6fc5f032259a/tenor.gif');
        background-image: url('https://images.pexels.com/photos/107583/pexels-photo-107583.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
        //  background-image: url('https://media.tenor.com/images/76fc730e26692419829f97116631736f/tenor.gif');
     }
    .header{
        @extend %flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px;
        &:hover{
            transform: scale(1.08);
        }
        .logo{
            min-width: 200px;
           // font-style: italic; 
        }
        .form{
            width: 70vw;
        }
    }


    .main{
        background-blend-mode: screen;
        .city_name{
            @extend %flex;
            // margin: 20px auto 10px auto;
            font-size: 3rem;
            font-weight: 500;
            &:hover{
                transform: scale(1.08);
            }
           .main_logo{
            filter:contrast(200%);
            animation: icon 1s linear infinite;
           }
           @keyframes icon {
            0%{
                transform: scale(1);
            }
        
            50%{
                transform: scale(1.2);
            }
            100%{
                transform: scale(1);
            }
        }
        }
        .temp{ 
            font-size: 5rem;
            // font-family: 'Encode Sans SC', sans-serif;
            // font-family: 'Teko', sans-serif;
            font-family: 'Orbitron', sans-serif;
            font-weight: 200;
            &:hover{
                transform: scale(1.2);
            }
        }
    
        .description{
            font-weight: 400;
            font-size: 2rem;
            text-transform: capitalize;
            color: darkgray;
        }
    
    }
   
}




