html{
    scroll-behavior: smooth;
    user-select: none;

    &::-webkit-scrollbar {
        display: none;
     }
}
.forecast{


    .Hourly{

        .map{
            display: flex;
            overflow-x: scroll;
            white-space: nowrap;
            scrollbar-width: thin;
            border-bottom: 2px solid #3a393963;
            border-top:  2px solid #3332327e;
            padding: 10px;
        

            .hour{
                display: flex;
                flex-direction: column;
                height: 100px;
                margin: 10px;

                &:hover{
                    transform: scale(1.2);
                }
                span, p{
                    font-size: small;
                }
                .icon{
                    height: 70px;
                    filter:contrast(200%);
                }
            }
            &::-webkit-scrollbar {
                width: 10px;
                
            }
            
    /* Track */
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
                border-radius: 10px;
                border-radius: 10px;
            
            }
    
    /* Handle */
            &::-webkit-scrollbar-thumb {
                width: 10px !important;
                border-radius: 10px;
                background: rgba(88, 88, 88, 0.534); 
                box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
            }
            &::-webkit-scrollbar-thumb:window-inactive {
                background: rgba(73, 73, 73, 0.212); 
            }
        }
    
    }
    .daily{
        .map2{
            display: flex;
            flex-direction: column;
            align-items: center;
            .day{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 90vw;
                border-bottom: 1px solid #3a383885;

                &:hover{
                    transform: scale(1.05);
                }

                .icon{
                    position: relative;
                    margin: 1px auto;
                    height: 60px;
                    filter:contrast(200%);
                }
            }
        }
    }

    .day_details{
        .others{
            display: flex;
            justify-content: space-around;
            width: 100vw;
            margin: 30px auto;
            padding: 10px;
            border: 1px rgba(61, 61, 61, 0.825) solid;
            border-radius: 20px;
            background-color: rgba(0, 0, 0, 0.219);
            @media (min-width:600px) {
                width: 80vw;
            }
            div{
                &:hover{
                    transform: scale(1.3);
                }
                .icon{
                    font-size: 30px;
                }
                @media (max-width:600px) {
                    .icon{
                        font-size: 25px;
                    }
                    span{
                        font-size: 10px;
                    }
                    
                }
               
                display: flex;
                flex-direction: column;

            }
        }
        .humidity , .wind{
            display: flex;
            flex-direction: column;
            h1{
                font-weight: 400;
                font-size: 2rem;
                color: gray;
                
                text-align: left;
            }
            div{
                .section{
                    color: red;
                }
                display: flex;
                justify-content:space-around;
                align-items: center;
                flex-direction: row;
                div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    
                    #humidity_value{
                        font-size: 60px;
                    }

                    .windmill{
                        width: 30vw;
                        height: 150px;
                        @media (min-width:800px) {
                            height: 300px;
                            // text-shadow: 20px 20px #565454;
                        }
                    }

                }
            }
        }
    }
}