.SECTION{
    height: 100vh;
    background-color: #304860;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url('https://i.pinimg.com/originals/0e/f3/bb/0ef3bb66d9216fffcea9022628f7bb26.gif');
   
}